* {
    font-family: sans-serif;
}
nav {
    background: #000;
    padding: 0 0.5em;
    position: fixed;
    top: 0;/*Position à partir du haut de l'écran*/
    left: 0;/*Position à partir de la gauche de l'écran*/
    text-align: center;
    width: 100%;
    margin: 0 0 20px;
}
nav a {/*Tous les liens dans la balise nav*/
    float: left;
    text-decoration: none;/*Pas d'héritage avec effet souligné comme c'est standart pour les liens sous tous les navigateurs*/
    color: #fff;
    line-height: 2.7em;/*Interligne*/
    padding: 0 2em;
    font-size: 1.2em;
    transition: 0.3s;
}
nav a:hover {
    background: #fda500;
    color: #000;
}
/* 1er Container */
.container {
    width: 70%;
    margin: 4% auto 2% auto;
    background: #f1fcde;
    padding: 2em;
}
.container1 {
    width: 70%;
    margin: 2% auto;
    background: #f0e9fd;
    padding: 2%;

}
/* container 3 et 4 imbriqués dans le container 1 */
.container2, .container3 {
    width: 44.5%;
    background: #f1fcde;
    padding: 2%;
    float: left;
}
.container2 {
    margin-right: 1.5%;
}
.container3 {
    margin-left: 1.5%;
}
.clear {
    clear: both;
}