*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Flex', sans-serif;
}
/* HEADER */
header {
    padding: 15px;
    box-shadow: inset 0px -1px 0px #e0e5e7;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: relative;
}
/* TOGGLER MENU */
.toggler-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    outline: 1px solid #e0e5e7;
    border-radius: 25px;
    cursor: pointer;
    transition: outline .3s ease-out;
    z-index: 2;

}
.toggler-menu:hover {
    outline: 1px solid #b4b4b4;
}
.toggler-menu > span {
    margin-left: 10px;
    font-weight: 600;
}
/* HAMBURGER */
.hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 20px;
    height: 20px;
}
.hamburger span {
    width: 100%;
    background: #192024;
    height: 2px;
    border-radius: 5px;
}
.hamburger span:nth-of-type(2) {
    width: 80%;
}
/* FIN HAMBURGER */
/* FIN TOGGLER MENU */
.logo {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
}
#logo-parisien {
    width: 200px;
}
/* RIGHT NAVLINKS */
.rigth-navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.rigth-navlinks a {
    margin: 0 10px;
    text-decoration: none;
}
.rigth-navlinks a button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}
.rigth-navlinks a:first-of-type button {
    border: none;
    border-right: 1px solid #e0e5e7;
    background: none;
}
.rigth-navlinks a:nth-of-type(2) button {
    outline: 1px solid #e0e5e7;
    border-radius: 25px;
    background: none;
    border: none;
    transition: outline .3s ease-out;
}
.rigth-navlinks a:nth-of-type(2) button:hover {
    outline: 1px solid #b4b4b4;
}
.rigth-navlinks a:nth-of-type(3) button {
    border: 1px solid #ffcc33;
    border-radius: 25px;
    background: #ffcc33;
    transition: background-color .2s ease-out;
}
.rigth-navlinks a:nth-of-type(3) button:hover {
    background-color: #ffbf00;
    border: 1px solid #ffbf00;
}
.rigth-navlinks img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
/* FIN RIGHT NAVLINKS */
/* FIN HEADER */
/* NAV */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -1px 0px #e0e5e7;
}
nav a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    margin: 0 10px;
    padding: 15px 0;
    transition: color .15s ease-out;
}
nav a:hover {
    color: #1ea0e6;
}
/* FIN NAV */
/* NAVLINKS CONTAINER LEFT */
.navlinks-container-left {
    background: #fff;
    height: 100vh;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: inset -1px 0px 0px #e0e5e7;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow-y: scroll;
    scrollbar-width: none;/* Cache la scrollbar pour Firefox */
    -ms-overflow-style: none; /* Cache la scrollbar pour IE et Edge (A vérifier) */
    transform: translateX(-100%);
    transition: transform 0.3s 0.15s ease-out;
}
.navlinks-container-left::-webkit-scrollbar { /* Cache la scrollbar pour Chrome, Safari et Opéra*/
    display: none;
  }
/* NAVLINKS BUTTON CLOSE */
.navlinks-container-left button {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: 1px solid #e0e5e7;
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: outline .3s ease-out;
}
.navlinks-container-left button:hover {
    outline: 1px solid #b4b4b4;
}
.navlinks-container-left button span {
    width: 20px;
    height: 2px;
    background: #192024;
    border-radius: 5px;
    position: absolute;
}
.navlinks-container-left button span:first-child {
    transform: rotate(45deg);
}
.navlinks-container-left button span:last-child {
    transform: rotate(-45deg);
}
/* FIN NAVLINKS BUTTON CLOSE */
/* NAVLINKS LEFT */
.navlinks-left {
    display: flex;
    flex-direction: column;
    /* background: yellowgreen; */
    box-shadow: inset 0px -1px 0px #e0e5e7;
    padding: 40px 0;
}
.navlinks-left a {
    text-decoration: none;
    color: #192024;
    font-size: 1.75rem;
    font-weight: 600;
    margin: 5px 0;
    transition: color .15s ease-out;
}
.navlinks-left:first-of-type a:last-child {
    color: #527784;
}
.navlinks-left a:hover, .navlinks-left:first-of-type a:last-child:hover {
    color: #1ea0e6;
}
.navlinks-left a{
    display: flex;
    align-items: center ;
}
.navlinks-left:last-of-type a{
    font-size: 18px;
}
.open {
    transform: translateX(0%);
}
/* NAVLINKS LEFT HOVER */
.hover-navlinks {
    width: 200px;
    position: absolute;
    right: -100px;
    background: yellow;
}
/* FIN NAVLINKS LEFT HOVER */
/* FIN NAVLINKS LEFT */
/* FIN NAVLINKS CONTAINER LEFT */
/* MAIN */
main {
    margin: 35px auto 0 auto;
    width: 50%;
    display: flex;
    /* background: green; */
}
/* MAIN-LEFT */
.main-left {
    width: 65%;
    /* background: orange; */
    padding: 0 10px 10px 10px;
}
/* ARTICLE 1 */
article {
    padding-bottom: 5px;
    box-shadow: inset 0px -1px 0px #e0e5e7;
}
article a {
    text-decoration: none;
}
article a:hover h2 {
    color: #444;
}
.article-title H3 {
    color: #1ea0e6;
    font-size: 19px;
    margin: 0 0 10px 0;
    font-weight: 600;
}
.article-title h2 {
    color: #192024;
    font-size: 2rem;
    margin-bottom: 15px;
    transition: color .2s ease-out;

}
article img {
    width: 100%;
    border-radius: 10px;
}
article p {
    margin: 10px 0;
    font-size: 17px;
    line-height: 25px;
}
/* FIN ARTICLE 1 */
/* FIN MAIN-LEFT */
/* MAIN RIGHT */
.main-right {
    width: 35%;
    /* background: orangered; */
    padding: 0 15px 10px 15px;
    box-shadow: inset 1px 0px 0px #e0e5e7;

}
/* CONTAINER NEWS CONTINU */
.container-news-continu {
    position: relative;
}
/* NEWS CONTINU */
.news-continu {
    box-shadow: inset 0px -1px 0px #e0e5e7;
    padding-bottom: 10px;
}
.news-continu h3 {
    font-weight: 700;
    font-size: 22px;
}
.blue-rod {
    background: #1ea0e6;
    width: 20%;
    height: 15px;
    margin: 0 0 10px 0;
}
/* FIN NEWS CONTINU */
/* NEWS SCROLL */
.news-scroll {
    width: 100%;
    height: 500px;
    /* background: lightgoldenrodyellow; */
    overflow-y: scroll;
}
.news-scroll a {
    text-decoration: none;
    color: #192024;
}
.news-scroll a:hover h4 {
    color: #444;
}
/* NEWS */
.news {
    padding: 20px 0;
    box-shadow: inset 0px -1px 0px #e0e5e7;
}
.news a {
    display: flex;
    justify-content: space-between;
}
.news h4 {
    font-size: 14px;
    font-weight: 700;
    width: 80%;
}
.news span {
    width: 20%;
    font-size: 12px;
    text-align: right;
}
/* FIN NEWS */
/* NEWS BUTTON */
.news-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: -20px;
    width: 100%;
}
.news-button button {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: #1ea0e6;
    color: #fff;
    font-weight: 600;
    transition: .3s ease-out;
}
.news-button button:hover {
    background: #0093e2;
}
/* FIN NEWS BUTTON */
/* FIN NEWS SCROLL */
/* FIN CONTAINER NEWS CONTINU */
/* FIN MAIN-RIGHT */
/* FIN MAIN */




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.navlinks-part-right {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #333;
    opacity: 50%;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
}
.hide {
    display: block;
}